{% extends "page.j2" %}
{% block content %}
<div class="row">
    <div class="twelve columns">
        <img id="photography-man-with-camera" src="/static/images/toolbox.jpg">
    </div>
</div>
<div class="row">
    <div class="twelve columns" id="photography-coming-soon">
        <h2>Coming Soon</h2>
    </div>
</div>
{% endblock %}
