{% extends "page.j2" %}
{% block content %}
<div class="row align-center post body home">
    <div class="columns">
        <p>Yeah, so...</p>
        <p>You were looking for something.</p>
        <p>Unfortunately it's not here.</p>
        <p>This may be your fault - a malformed linked perhaps.</p>
        <p>It may also be mine - removing content or moving it around.</p>
        <p>If you think it's the latter, feel free to email me and I'll try to
        get it sorted out.</p>
        <p>&mdash; Mihir (<span style="color: #f39c12;">@citruspi</span>)</p>
    </div>
</div>
{% endblock %}
