{% extends "page.j2" %}
{% block content %}
<div class="row align-center post body home">
    <div class="columns">
        <p>Hey there.</p>
        <p>This is my space on the Interwebs.</p>
        <p>Yeah&hellip; That's pretty much it.</p>
        <p>Enjoy.</p>
        <p>Or don't. That's up to you.</p>
        <p>&mdash; Mihir (<span style="color: #f39c12;">@citruspi</span>)</p>
    </div>
</div>
{% endblock %}
