---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}

    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <h3 id="{{ this_year }}-ref">{{this_year}}</h3>    
    {% endif %}
      
    <div>

      <span class="post-date"  style="display: inline; vertical-align: top; font-family: 'open sans',sans-serif;">{{ post.date | date_to_string }} &bull;</span>

      <span class="post-date" style="display: inline; vertical-align: top; font-family: 'open sans',sans-serif;">
        <a href="{{ post.url }}" style="color:black;">
        {{ post.title }}
        </a>
      </span>

    </div>

    {% if this_year != next_year %}
    <h3 id="{{ next_year }}-ref">{{next_year}}</h3>
    {% endif %}

  {% endfor %}
</div>