{% extends "page.j2" %}
{% block content %}
<div class="row">
    <div class="twelve columns content">
        <blockquote><p>How odd I can have all this inside me and to you it’s
            just words.</p><br><p class="source">David Foster Wallace</p>
        </blockquote>
        <p>Intentionally or not, you've stumbled onto my little corner of the
            Internet. Here, I express myself and share my thoughts. I write the
            occasional post, publish my photography, share code, etc.</p>
        <p>The majority of this website, unless otherwise noted, is dedicated to
            the public domain. This means that you may</p>
        <ul>
            <li>download it</li>
            <li>share it</li>
            <li>sell it</li>
            <li>modify it</li>
            <li>etc.
        </ul>
        <p>You may do this with or without crediting me. It is your's and you
            may do with it as you wish.</p>
    </div>
</div>
{% endblock %}
