{% extends "page.j2" %}
{% block content %}
<div class="row">
    <div class="twelve columns content post">
        <p id="title">{{ date }}</p>
   </div>
</div>
</div>
<div class="row" style="width:100%;">
    <a href="/static/images/photography/365/{{image}}.jpg">
        <img src="/static/images/photography/365/{{ image }}-web.jpg" width="100%"></img>
    </a>
</div>
<div class="container" style="padding-top: 0px;">
<div class="row">
    <div class="twelve columns content post">
        <h2>Back Story</h2>
        <hr>
        {% block backstory %}
        {% endblock %}

        <h2>EXIF Data</h2>
        <hr>
        {% block exif %}
        <table class="threesixtyfive post metadata">
            {% if 'resolution' in exif %}
            <tr>
                <td>Resolution</td>
                <td>{{ exif['resolution'] }} (<a href="/static/images/photography/365/{{image}}.jpg"
                >Original Image</a>)</td>
            </tr>
            {% endif %}
            {% if 'camera_model' in exif %}
            <tr>
                <td>Camera</td>
                <td>{{ exif['camera_model'] }}</td>
            </tr>
            {% endif %}
            {% if 'lens' in exif %}
            <tr>
                <td>Lens</td>
                <td>{{ exif['lens'] }}</td>
            </tr>
            {% endif %}
            {% if 'focal_length' in exif %}
            <tr>
                <td>Focal Length</td>
                <td>{{ exif['focal_length'] }}</td>
            </tr>
            {% endif %}
            {% if 'aperture' in exif %}
            <tr>
                <td>Aperture</td>
                <td>{{ exif['aperture'] }}</td>
            </tr>
            {% endif %}
            {% if 'exposure' in exif %}
            <tr>
                <td>Exposure</td>
                <td>{{ exif['exposure'] }}</td>
            </tr>
            {% endif %}
            {% if 'flash' in exif %}
            <tr>
                <td>Flash</td>
                <td>{{ exif['flash'] }}</td>
            </tr>
            {% endif %}
            {% if 'iso_speed_rating' in exif %}
            <tr>
                <td>ISO Rating</td>
                <td>{{ exif['iso_speed_rating'] }}</td>
            </tr>
            {% endif %}
            {% if 'location' in exif %}
            <tr>
                <td>Location</td>
                <td><div id="map" class="threesixtyfive map"
                        data-lat="{{exif['location']['lat']}}"
                        data-long="{{exif['location']['long']}}"
                        data-zoom="{{exif['location']['zoom']|default(15)}}"
                        data-markers="{{exif['location']['lat']}},{{exif['location']['long']}},"></div></td>
            </tr>
            {% endif %}
       </table>
        {% endblock %}
    </div>
</div>
{% endblock %}
