{% extends 'streams/365/photo.j2' %}
{% block backstory %}
        <p>I took this in November 2014 while flying Air Canada from Vancouver
        to Edmonton. I was heading back to school after spending Thanksgiving
        break visiting my dog. I'd taken an early flight and I had a long day
        ahead of me - I was flying from Vancouver to Edmonton to Toronto to
        Rochester.</p>
        <p>I was sitting in a left window seat, which was out of character
        for me. (I normally prefer the right aisle seat since I feel trapped
        when I sit in the middle or window seat and as a lefty, I like to
        give my left arm a full range of motion).</p>
        <p>At some point, we flew over the <a
            href="https://en.wikipedia.org/wiki/Canadian_Rockies">Canadian
            Rockies</a> and there was nothing but snow covered mountains in every
        direction as far as the eye could see. If you can't tell from the photo,
        it was magnificent. The sun was rising and everything just
        glowed.</p>
        <p>It completely made up for the early flight, window seat, and long
        day ahead, to the extent that I'd like to make that flight
        again at some point in the future just to see that view again.</p>
{% endblock %}
