body {
    font-family: "proxima-nova", sans-serif;
    font-size: 18px;
    color: #121212;
}

@media (min-width: 640px) {
    body {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}

a {
    color: #f39c12;
}

a:hover {
    color: #121212;
}

a.inverse-link {
    color: #121212;
}

a.inverse-link:hover {
    color: #f39c12;
}

.header {
    margin: 1rem 0;
    text-align: center;
}

.header a {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
}

@media (min-width: 640px) {
    .header {
        margin: 2rem 0 1rem;
    }

    .header a {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    .header {
        margin: 3rem 0 1.5rem;
    }

    .header a {
        font-size: 6rem;
    }
}

.menu {
    margin: -1rem auto 0.5rem;
}

.menu a {
    font-size: 1rem;
    text-transform: uppercase;
}

@media (min-width: 640px) {
    .menu {
        margin: 0 auto 1.5rem;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .menu {
        margin: 1rem auto 2rem;
        width: 60%;
    }

    .menu a {
        font-size: 1.2rem;
    }
}

.block-index-entry {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
}

.block-index-entry h1 {
    font-size: 3.5rem;
    color: #ecf0f1;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
    padding: 20% 0;
    letter-spacing: 0.5rem;
}

.block-index-entry h1:hover {
    color: #f39c12;
}

.block-index-entry .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background-size: 100%;
    background-repeat: no-repeat;
}

.block-index-entry .filter {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width: 640px) {
    .block-index-entry h1 {
        font-size: 4rem;
    }
}

.list-index-header {
    text-align: center;
}

.list-index-header h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

@media (min-width: 640px) {
    .list-index-header h1 {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .list-index-header h1 {
        font-size: 2.5rem;
    }
}
