body {
    font-family: "proxima-nova", sans-serif;
    font-size: 18px;
    color: #121212;
}

@media (min-width: 640px) {
    body {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}

a {
    color: #f39c12;
}

a:hover {
    color: #121212;
}

a.inverse-link {
    color: #121212;
}

a.inverse-link:hover {
    color: #f39c12;
}

.header {
    margin: 1rem 0;
    text-align: center;
}

.header a {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
}

@media (min-width: 640px) {
    .header {
        margin: 2rem 0 1rem;
    }

    .header a {
        font-size: 4rem;
    }
}

@media (min-width: 1200px) {
    .header {
        margin: 3rem 0 1.5rem;
    }

    .header a {
        font-size: 6rem;
    }
}

.menu {
    margin: -1rem auto 0.5rem;
}

.menu a {
    font-size: 1rem;
    text-transform: uppercase;
}

@media (min-width: 640px) {
    .menu {
        margin: 0 auto 1.5rem;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .menu {
        margin: 1rem auto 2rem;
    }

    .menu a {
        font-size: 1.2rem;
    }
}
