{% extends "page.j2" %}
{% block content %}
{%- for row in streams|batch(2) %}
<div class="row">
    {%- for column in row %}
    <div class="six columns">
        <a href="/photography/{{column['path']}}/">
            <div class="stream">
                <h2>{{column['title']}}</h2>
                <div class="filter"></div>
                <img src="/static/images/photography-{{column['path']}}.jpg">
            </div>
        </a>
    </div>
    {%- endfor %}
</div>
{%- endfor %}
{% endblock %}
