{% extends "page.j2" %}

{% block content %}
<div class="row align-center post body">
    <div class="columns">
        <p>Hey! I'm Mihir, but I go by <a href="https://twitter.com/citruspi">
            @citruspi</a> on the Internet.</p>

        <blockquote><p>How odd I can have all this inside me and to you it’s
            just words.</p><br><p class="source">David Foster Wallace</p>
        </blockquote>

        <h2>Work and Projects</h2>
        <p>I spend a lot of my time working on personal projects,
            all of which <a href="https://github.com/citruspi">are open
            source</a>. I'm passionate about open source work and the public
            domain, which many of my projects are dedicated to. As far as
            projects go, my interests lie in security, distributed systems,
            infrastructure and operations, automating things that probably
            shouldn't be automated, and API design. I <span
            style="color:#e51c23;">&hearts;</span> a well designed API.</p>
        <p>I'm currently employed as an <a
            href="https://en.wikipedia.org/wiki/Cloud_engineering">Infrastructure
            Engineer</a> at an awesome little company called <a
            href="https://hudl.com">Hudl</a>. Prior to this I interned at Hudl,
        working on infrastructure and site reliability engineering. Before that
        I interned at <a href="https://apple.com">Apple, Inc.</a>, working
        within the GPU Software Engineering Organization. And that's pretty much
        as far back as my story goes.</p>

        <h2>Academia and Community</h2>
        <p>I previously pursued a degree in Computing Security at the Rochester
            Institute of Technology from August 2013 to December 2015 before dropping out, because
            <span style="font-variant: small-caps">YOLO</span> <img
            style="width: 2.2rem;"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAMAAABiM0N1AAAAM1BMVEVHcEz/213/3Fz/3F3/2lz/3Fz/2Vv/2V36xFP/3FzvlUX/3lXvmkX/3F3wlkXzpUr6wVO69ZIfAAAADXRSTlMAr32kz/NUFyTt6QOtmNGxUQAAAYJJREFUWMPt2NluwyAQBVDALMaE5f+/NnZrB+wMhgFUKWrua5XTy66EkM+IokJP8wBH2zW6X6L2J7RbEr+QXXql3bHuMQpaRkEut6aibv7uoX1NVTe0r+nUDe1rKrqh469f6At9MATc3k0QdHs3QftJ53PysjRB8faO3ZqgeHvHbn3QErv1QUm3UdAyCnJ/D82Lu8a3QOrd2YKHHsG+JXjnsZC0YLwLSIjDUDgq1ULKZnIAtZAcBU12zNCMtmMmOzOyuPyvZgWIJRUum/vS7B4yHIb8VimcNuY9NJ/Gs34s/n9/KlaAjHxbqyhtrE+Oj0YtfipdwnHnI8TlvoQiD1o6vacw7InNVZLYAxIylVTdfizOEsefEO/QIyNEg5WAHSAU/hYBJ4mVniLwTvPoQnAlYLZZ+XUUNRA35eca2AH+OrS6L/LUFiPrfj3gY5yyVOsUJC2JqZemrMORP05I+H0TzOAcA5YSTJGGKHZuxVfGkLbMbOKrpjllUpGOvAoYQ/5xniQfZYqqCWWdAAAAAElFTkSuQmCC">.
            I was a member of the
            <a href="https://csh.rit.edu">Computer Science House</a>, a
            special interest house, and the
            <a href="http://magic.rit.edu/foss/">FOSS Box</a>, an applied
            research laboratory. I also occassionally worked on projects with the
            <a href="http://hhroc.github.io">Hacks/Hackers Rochester</a>
            group.</p>

        <p>Like most programmers I've met, I enjoy conferences and meetups. I
            attended <a href="https://us.pycon.org/">PyCon</a> in 2014 and 2015
            and <a href="http://nebraskacode.com">Nebraska.Code()</a> in 2015.
            You might also find me at the occassional BarCamp (unconference) or
            at a Python User Group meeting.</p>
        <h2>Travel</h2>
        <p>I also spend a lot of my time travelling. Not as much as I'd like to
            though. I've visited twenty six U.S. states and ten countries
            (including the U.S.). I've also lived in <a
            href="https://en.wikipedia.org/wiki/Mumbai">Mumbai, India</a>, <a
            href="https://en.wikipedia.org/wiki/Hanoi">Hanoi, Vietnam</a>, <a
            href="https://en.wikipedia.org/wiki/Paris">Paris, France</a>, <a
            href="https://en.wikipedia.org/wiki/Vancouver">Vancouver, Canada
            </a>, <a href="https://en.wikipedia.org/wiki/Rochester,_New_York">
            Rochester, New York</a>, <a
            href="https://en.wikipedia.org/wiki/Sunnyvale,_California">
            Sunnyvale, California</a>, <a
            href="https://en.wikipedia.org/wiki/Lincoln,_Nebraska">Lincoln,
            Nebraska</a>, and <a href="https://en.wikipedia.org/wiki/Boston">
            Boston, Massachusetts</a>.
    </div>
</div>
<div class="row about map">
    <img src="/static/images/about-map.png"/>
    <p class="credit">&copy; Open Street Maps</p>
</div>
<div class="row align-center post body">
    <div class="columns">
        <h2>Hobbies &amp; Pastimes</h2>
        <p>Photography is my creative outlet. A lot of my current work is
            nature/landscape material, but I'm working on doing more street
            photography as well as some astrophotography when the conditions are
            right. Occassionally I'll whip out my film camera, because getting
            the film developed and then getting to hold it just feels wonderful.
            </p>
        <p>When I'm not writing code, taking photos, or travelling, I enjoy
            reading fiction and nonfiction material. I grew up on, and continue to love, the
            <a href="https://en.wikipedia.org/wiki/The_Adventures_of_Tintin">
            Tintin</a> and <a href="https://en.wikipedia.org/wiki/Asterix">
            Asterix and Obelix</a> comics. Unfortunately, I don't get much
            reading time at this point &mdash; most of the reading I've managed
            to do recently has been restricted to when I'm flying.</p>
        <h2>Tool Belt</h2>
        <p>My primary tools for software development include the OS X Terminal,
            <a href="https://git-scm.com">git</a>, <a href="http://www.vim.org">
                vim</a>, a <a href="https://en.wikipedia.org/wiki/MacBook_(Retina)">
                12" Retina MacBook</a>, <a href="https://www.python.org">
            Python</a>, <a href="https://golang.org">Go</a>, <a
            href="https://tmux.github.io">tmux</a>, and servers running either
            <a href="http://centos.org">CentOS</a> or <a
            href="https://aws.amazon.com/amazon-linux-ami/">Amazon Linux</a>.
            Every year, I think it'll finally be the year of Linux, and every
            year it isn't. Depending on the location, I may be using <a
            href="http://www.apple.com/shop/product/MD827LL/A">Apple EarPods
            </a> or <a
            href="http://www.audio-technica.com/cms/headphones/99aff89488ddd6b1/index.html">
            ATH-M50x headphones</a>. My personal infrastructure runs on <a 
            href="https://aws.amazon.com/ec2/">AWS EC2</a> for the most part,
            managed by <a href="https://www.chef.io">Chef</a>.</p>
        <p>For photography, my primary body is the<a
            href="http://www.nikonusa.com/en/Nikon-Products/Product/dslr-cameras/1519/D5300.html">
            Nikon D5300</a> with the following lenses - <a
            href="http://www.nikonusa.com/en/Nikon-Products/Product/Camera-Lenses/AF-S-DX-NIKKOR-35mm-f%252F1.8G.html">
            AF-S DX NIKKOR 35mm f/1.8G</a>, <a
            href="http://www.tokinalens.com/tokina/products/atxpro/atx116prodxii/">
            Tokina AT-X 11-16mm f/2.8 PRO DX-II</a>, and <a
            href="http://www.nikonusa.com/en/Nikon-Products/Product/Camera-Lenses/AF-S-VR-Zoom-Nikkor-70-300mm-f%252F4.5-5.6G-IF-ED.html">
            AF-S VR Zoom-Nikkor 70-300mm f/4.5-5.6G IF-ED</a>. I use<a
            href="https://www.adobe.com/products/photoshop-lightroom.html">
            Adobe Lightroom</a> running on a <a href="https://en.wikipedia.org/wiki/MacBook_Pro#Third_generation_.28Retina.29">15"
            Retina MacBook Pro</a> for managing and processing photos. For film photography I have a <a
            href="https://en.wikipedia.org/wiki/Nikon_FE">Nikon FE</a> and I've
            recently acquired a <a
            href="https://en.wikipedia.org/wiki/GoPro#HERO4">GoPro HERO4</a>
            for timelapses and videos and a <a
            href="https://en.wikipedia.org/wiki/Fujifilm_X100#Fujifilm_X100T">
            Fujifilm X100T</a> to use as a daily walking around camera.</p>
        <h2>On the Internet</h2>
        <p>You can find me on <a
            href="https://twitter.com/citruspi">Twitter</a> and <a
            href="https://github.com/citruspi">GitHub</a>. I also hang out on
            <a href="freenode.net">freenode</a>.</p>
        <p>I used to use <a
            href="https://app.net">App.net</a>, but well&hellip; I also
            previously used <a href="https://last.fm">last.fm</a>, but Apple
            Music Radio doesn't suport it. </p>
        <p>If you want to get in contact, feel free to poke me in meatspace,
            tweet at me on Twitter, ping me on IRC, or just <a
            href="mailto:hello@mihirsingh.com">send me an email</a> - <a
            href="http://gpg.mihirsingh.com">here's my PGP key</a>.</p>
        <h2>Licensing</h2>
        <p>The majority of this website, unless otherwise noted, is dedicated to
            the public domain. This means that you may</p>
        <ul>
            <li>download it</li>
            <li>share it</li>
            <li>sell it</li>
            <li>modify it</li>
            <li>etc.
        </ul>
        <h2>Colophon</h2>
        <p>This website (and its spiritual successors) has previously been managed as manually edited HTML
        files, manually editted plain text files, a <a
            href="https://jekyllrb.com">Jekyll</a> project, a <a
            href="https://gohugo.io">Hugo</a>
        project, a <a href="https://github.com/citruspi/ford.py">ford.py</a>
        project (a site generator I wrote), a <a
                      href="http://blog.getpelican.com">Pelican project</a>, a 
                  <a href="https://ghost.org">Ghost</a> instance,
                  and a <a href="http://wordpress.org">WordPress</a> instance.</p>
        <p>It currently exists as an <a
            href="https://github.com/citruspi/ljon">Lj&oacute;n</a> project. Lj&oacute;n
        (Icelandic for lion) is another static site generator that I've written
        (of course!) and use to manage my personal websites. (I've probably - most definitely
        - gotten it wrong again and I can't recommend using it - you'll probably
        have nightmares.)</p>
        <p>The website uses the flexbox grid from <a
            href="http://foundation.zurb.com">Foundation</a>, and <a
            href="http://www.marksimonson.com">Mark Simonson's</a> <a
            href="http://www.marksimonson.com/fonts/view/proxima-nova">Proxima
            Nova</a> font from <a href="https://typekit.com">Adobe Typekit</a>. The <italic>only</italic> JavaScript on the
        website is used</p>
        <ol>
            <li>to load the font from Adobe Typekit and</li>
            <li>to render the gallery pages in the photography section</li>
        </ol>
        <p>All other pages should be JavaScript-free. In addition there is no
        user tracking - aside from that performed by Adobe Typekit - and all
        assets (once again... aside from the font from Adobe Typekit) are
        served directly by my server(s), no CDN involved.</p>
    </div>
</div>
{% endblock %}
