<div class="row small-up-2 medium-up-6 menu">
    <div class="columns">
        <a href="/streams/" class="inverse-link">Streams</a>
    </div>
    <div class="columns">
        <a href="/photography/" class="inverse-link">Photos</a>
    </div>
    <div class="columns">
        <a href="/projects/" class="inverse-link">Projects</a>
    </div>
    <div class="columns">
        <a href="/more/" class="inverse-link">More Stuff</a>
    </div>
    <div class="columns">
        <a href="/about/" class="inverse-link">About Me</a>
    </div>
    <div class="columns">
        <a href="http://resume.mihirsingh.com" class="inverse-link">R&eacute;sum&eacute;</a>
    </div>
</div>
