<div class="row medium-unstack align-center menu">
    <div class="columns">
        <a href="/streams/" class="inverse-link">Streams</a>
    </div>
    <div class="columns">
        <a href="/photography/" class="inverse-link">Photography</a>
    </div>
    <div class="columns">
        <a href="/collections/" class="inverse-link">Collections</a>
    </div>
    <div class="columns">
        <a href="/about/" class="inverse-link">About</a>
    </div>
    <div class="columns">
        <a href="http://resume.mihirsingh.com" class="inverse-link">R&eacute;sum&eacute;</a>
    </div>
</div>
