{% extends "page.j2" %}
{% block content %}
<div class="row align-center post header">
    <div class="columns">
        <h1 id="title">{{ title }}</h1>
        <h2 id="subtitle">{{ subtitle }}</h2>
    </div>
</div>
<div class="row align-center post body">
    <div class="columns">
        {% block post %}
        {% endblock %}
        <hr>
        {% block footer %}
        <p id="meta">Published on {{ date }}.</p>
        {% endblock %}
   </div>
</div>
{% endblock %}
