{% extends "page.j2" %}
{% block content %}
<div class="row">
    <div class="twelve columns">
        <a href="/streams/archive/">
            <div class="stream">
                <h2>Archive</h2>
                <div class="filter"></div>
                <img src="/static/images/stream-archive.jpg" style="height: unset;">
            </div>
        </a>
    </div>
</div>
{%- for row in streams|batch(2) %}
<div class="row">
    {%- for column in row %}
    <div class="six columns">
        <a href="/streams/{{column['path']}}/">
            <div class="stream">
                <h2>{{column['title']}}</h2>
                <div class="filter"></div>
                <img src="/static/images/stream-{{column['path']}}.jpg">
            </div>
        </a>
    </div>
    {%- endfor %}
</div>
{%- endfor %}
{% endblock %}
