{% extends "block-index.j2" %}

{% block block_index %}
<div class="row align-center post body">
    <div class="columns">
<blockquote>
    <p>stream (<span style="font-style: italic;">n.</span>) Any steady flow or succession of material, such as water, air, radio
    signal or words.</p>
    <br>
    <p class="source"><a
       href="https://en.wiktionary.org/wiki/stream">Wiktionary</a></p>
</blockquote>
    </div>
</div>
{{ super() }}
{% endblock %}
