{% extends 'collections/project.j2' %}
{% block description %}
<p>A collaboration between myself and <a href='https://github.com/nolski'>@nolski</a>, RHoK The Hood came out of the Random Hacks of Kindness (Rochester, NY) event held in 2013 as a way to allow
residents of Rochester, NY to view census data overlayed on a map of the city.</p>
<p>A city official at the event had presented on open data and had demoed a
similar application which was, at the time, available to residents of Rochester
(and required Silverlight!).<p>
<p>Attendees were told that the application was being taken offline in February
2014, but that a replacement wouldn't be available for some time after that.</p>
<p>Since the census data is all public, we decided to build our own, open source
alternative. Six hours later we had a demo up and running and we took first
place.</p>
<p>Future plans include, given the time, extending this to other cities and
providing easy tooling to import data sets for visualizing.</p>
{% endblock %}
