<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/moonshine.css">

        <script src="https://use.typekit.net/ypc6utl.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body>
        <div class="container">
            <div class="row header">
                <a href="/">
                    <div class="twelve columns">
                        citruspi
                    </div>
                </a>
            </div>
            <div class="row navigation">
                <div class="twelve columns navigation-toggle">
                    <hr/>
                    <label class="navigation-toggle-btn">Menu</label>
                    <hr/>
                </div>
                <div class="twelve columns navigation-menu">
                    <ul>
                        <li><a href="/streams/">Streams</a></li>
                        <li><a href="/photography/">Photography</a></li>
                        <li><a href="/collections/">Collections</a></li>
                        <li><a href="/resume/">R&eacute;sum&eacute;</a></li>
                        <li><a href="/about/">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns content">
                    <h4>Hi there!</h4>
                    <p>I'm Mihir, but I go by <a href="https://twitter.com/citruspi">@citruspi</a> on the Internet.</p>
                    <p>I'm a student at the Rochester Institute of Technology
                    pursuing a degree in Computing Security. I'm also a member
                    of the <a href="https://csh.rit.edu">Computer Science
                        House</a>, a
                    special interest house, and the <a
                        href="http://magic.rit.edu/foss/">FOSS Box</a>, an applied
                    research laboratory.</p>
                    <p>I spend a lot of my time working on personal projects,
                    all of which <a href="https://github.com/citruspi">are open
                        source</a>. I'm passionate about open source work and
                    the public domain, which many of my projects are dedicated
                    to. I previously interned at <a
                        href="https://apple.com">Apple, Inc.</a> where I worked
                    within the GPU Software Engineering Organization. Since
                    January 2015, I've been interning at <a
                        href="https://hudl.com">Hudl</a>, where I work on
                    infrastructure.</p>
                    <p>When I have the time, I also enjoy fiction and nonfiction
                    reading material. I grew up on, and continue to love, the <a
                        href="https://en.wikipedia.org/wiki/The_Adventures_of_Tintin">Tintin</a>
                    and <a
                        href="https://en.wikipedia.org/wiki/Asterix">Asterix and
                        Obelix</a>
                    comics. Unfortunately, I don't get much reading time at this
                    point.</p>

                    <p>I also spend a lot of my time travelling. Not as much as
                    I'd like to though. I've visited twenty six U.S. states and
                    ten countries (including the U.S.). I've also lived in <a
                        href="https://en.wikipedia.org/wiki/Mumbai">Mumbai,
                        India</a>, <a
                            href="https://en.wikipedia.org/wiki/Hanoi">Hanoi,
                            Vietnam</a>, <a
                                href="https://en.wikipedia.org/wiki/Paris">Paris, 
                                France</a>, <a
                                href="https://en.wikipedia.org/wiki/Vancouver">Vancouver,
                                Canada</a>, <a
                                href="https://en.wikipedia.org/wiki/Rochester,_New_York">Rochester,
                                New York</a>, <a
                                    href="https://en.wikipedia.org/wiki/Sunnyvale,_California">Sunnyvale,
                                    California</a>, <a
                                    href="https://en.wikipedia.org/wiki/Lincoln,_Nebraska">Lincoln,
                                    Nebraska</a>, and <a
                                    href="https://en.wikipedia.org/wiki/Boston">Boston,
                                    Massachusetts</a>.
                    <p>My primary tools for software development would
                    include <a href="https://git-scm.com">git</a>, <a
                        href="http://www.vim.org">vim</a>, a 13" MacBook Air, <a
                        href="https://www.python.org">Python</a>, <a
                        href="https://golang.org">Go</a>, <a
                        href="https://tmux.github.io">tmux</a>, and servers
                    running either <a href="http://centos.org">CentOS</a> or <a
                        href="https://aws.amazon.com/amazon-linux-ami/">Amazon
                        Linux</a>. Every year, I think it'll finally be the year
                    of Linux, and every year it isn't. Depending on the setting,
                    I may be using <a
                        href="http://www.apple.com/shop/product/MD827LL/A">Apple
                        EarPods</a> or <a
                        href="http://www.audio-technica.com/cms/headphones/99aff89488ddd6b1/index.html">ATH-M50x
                        headphones</a>.</p>
                   
                    <p> My primary
                    tools for photography would be my <a
                        href="http://www.nikonusa.com/en/Nikon-Products/Product/dslr-cameras/1519/D5300.html">Nikon
                        D5300</a> with the following lenses - <a
                        href="http://www.nikonusa.com/en/Nikon-Products/Product/Camera-Lenses/AF-S-DX-NIKKOR-35mm-f%252F1.8G.html">AF-S
                        DX NIKKOR
                        35mm f/1.8G</a>, <a
                        href="http://www.tokinalens.com/tokina/products/atxpro/atx116prodxii/">Tokina
                        AT-X 11-16mm f/2.8 PRO DX-II</a>, and <a
                        href="http://www.nikonusa.com/en/Nikon-Products/Product/Camera-Lenses/AF-S-VR-Zoom-Nikkor-70-300mm-f%252F4.5-5.6G-IF-ED.html">AF-S
                        VR Zoom-Nikkor 70-300mm f/4.5-5.6G IF-ED</a> - and <a
                        href="https://www.adobe.com/products/photoshop-lightroom.html">Adobe
                        Lightroom</a> running on a 15" MacBook Pro
                    (w/Retina). I frequently use a <a
                        href="http://www.manfrotto.com/product/0/MKCOMPACTACN-BK/_/Compact_Action_Black">Manfrotto
                        Compaction Action tripod</a> and I carry all of this
                    around in a <a
                        href="http://www.manfrotto.com/veloce-v-backpack-black">Manfrotto
                        Veloce backpack</a>.</p>

                    <p>On the Internet, you can find me on <a
                        href="https://twitter.com/citruspi">Twitter</a> and <a
                        href="https://github.com/citruspi">GitHub</a>. I used to
                    use <a href="https://app.net">App.net</a>, but well&hellip;.
                    And I used to use <a href="https://last.fm">last.fm</a>, but
                    Apple Music Radio doesn't suport it. I
                    also hang out on <a href="freenode.net">freenode</a>.</p>
                    <p>If you want to get in contact, feel free to poke me in
                    meatspace, tweet at me
                    on Twitter, ping me on IRC, or just <a
                        href="mailto:hello@mihirsingh.com">send me an
                        email</a> - <a href="https://gpg.mihirsingh.com">here's
                        my PGP key</a>.</p>
                </div>
            </div>
        </div>
        <script src="/js/moonshine.js"></script>
    </body>
</html>
