<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->

    <div class="wrap">
      <div class="masthead">
        <div class="container">

          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small style="float:right;"><a href="https://github.com/citruspi">Projects</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                        <a href="http://citruspi.io">Thoughts</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                        <a href="#">More</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                        <a href="http://mihirsingh.com">Me</a></small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>


      {% if page.url != '/index.html' %}

      <div class="container content" style="margin-bottom:6em; margin-top:-1.5em;">

          <span style="float:left;">
            <a href="https://github.com/cituspi">GitHub</a>&nbsp;&nbsp;
            <span style="color:#268BD2">&bull;</span>&nbsp;&nbsp;
            <a href="https://twitter.com/citruspi">Twitter</a>&nbsp;&nbsp;
            <span style="color:#268BD2">&bull;</span>&nbsp;&nbsp;
            <a href="https://app.net/citruspi">App.net</a>
          </span>
          <span style="float:right"><a href="{{ site.revision_base }}{{ page.path }}">Revision History</a></span>

      </div>

      {% endif %}

    </div>

  </body>
</html>
