---
layout: default
---

<div class="post" style="margin-bottom:0em;">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
      Published on {{ page.date | date_to_string }}
      {% if page.edited %}
      | Lasted edited on {{ page.edited | date: "%d %b %y" }}
      {% endif %}
  </span>
  {{ content }}

  <p>Questions, comments, or thoughts? I'm on <a>Twitter</a> and <a>App.net</a> as <a>@citruspi</a>.</p>
</div>

<div class="pagination">
  {% if page.previous %}
      <a class="pagination-item older" href="{{ page.previous.url }}">{{ page.previous.title }}</a>  
  {% else %}
    <span class="pagination-item older">No Older Posts</span>
  {% endif %}
  {% if page.next %}
      <a class="pagination-item newer" href="{{ page.next.url }}">{{ page.next.title }}</a>
  {% else %}
    <span class="pagination-item newer">No Newer Posts</span>
  {% endif %}
</div>
