{% extends "page.j2" %}
{% block externalstylesheets %}
{{ super() }}
<link rel="stylesheet" href="/static/vendor/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<div class="row align-center post header">
    <div class="columns">
        <h1 class="title">{{ title }}</h1>
        {% if subtitle %}<h2 class="subtitle">{{ subtitle }}</h2>{% endif %}
    </div>
</div>
<div class="row project">
    <div class="small-12 medium-6 large-8 columns project attachments">
        {% block attachments %}
        {% for attachment in attachments %}
        {% if attachment['type'] == 'image' %}
        {% if attachment['link'] %}
        <a href="{{ attachment['link'] }}">
        {% else %}
        <a href="/static/media/collections/projects/{{ slug }}/{{ attachment['name'] }}">
        {% endif %}
            <img class="project attachment" alt="..." src="/static/media/collections/projects/{{ slug }}/{{ attachment['name'] }}" {{ attachment['long'] }}="100%"/>
        </a>
        {% if attachment['caption'] %}
        <p class="project attachment caption">{{ attachment['caption'] }}</p>
        {% endif %}
        {% elif attachment['type'] == 'video' %}
            <video width="100%" autoplay="" loop="" class="attachment">
                {% for source in attachment['sources'] %}
                <source src="/static/media/collections/projects/{{ slug }}/{{ source['name'] }}" type="{{ source['type'] }}">
                {% endfor %}
            </video>
        {% endif %}
        {% endfor %}
        {% endblock %}
    </div>
    <div class="small-12 medium-6 large-4 columns project overview">
        {% block description %}
        {% endblock %}
        <hr>
        {% block footer %}
        {% for link in links %}
        <p class="project link"><i class="fa fa-{{ link['icon'] }}"></i> &nbsp;<a href="{{ link['link'] }}">{{ link['title'] }}</a></p>
        {% endfor %}
        {% endblock %}
   </div>
</div>
{% endblock %}
